{% extends "./base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('static', filename='js/quagga/dis/quagga.js')}}"></script>
    <script type="text/javascript">
    function quaggainit(){
        Quagga.init({
        inputStream : {
          name : "Live",
          type : "LiveStream",
          target: document.querySelector('#camera')    // Or '#yourElement' (optional)
        },
        decoder : {
          readers : ["code_128_reader"]
        }
        }, function(err) {
          if (err) {
              console.log(err);
              return
          }
          console.log("Initialization finished. Ready to start");
          Quagga.start();
        });
        //
        Quagga.onDetected((data) => {
            console.log(data);
            document.querySelector("#upc").value = data.codeResult.code;
            Quagga.stop()
        });
    };
    </script>
{% endblock %}

{% block content %}
{% from "./includes/_formHelper.html" import render_field %}
<a href={{ url_for("inventory.retrieve_inventory")}}/>Return to inventory listings</a>
<h1 class="display-4">Product Details</h1>

<div id="camera">
    <video class="videoCamera" autoplay="true" preload="auto" src="" muted="true"
       playsinline="true"></video>
    <canvas class="drawingBuffer" style="display: none;"></canvas>
</div>
<form method="POST" action="">

    <div class="form-group">
        {{ render_field(form.productName, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.stock, class="form-control") }}
    </div>
    {% if create %}
    <div class="form-group">
        {{ render_field(form.upc, class="form-control") }}
        <button type="button" class="btn btn-secondary" onclick=quaggainit()>
        Camera
        </button >
    </div>
    {% endif %}
    <div class="form-group">
        {{ render_field(form.price, class="form-control") }}
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
{% endblock %}
