{% extends "base.html" %}

{% block content %}
{% from "./includes/_formHelper.html" import render_field %}
<h1 class="display-4">Inventory</h1>
<a href="/inventory/createproduct" class="btn btn-primary">Create</a>
<div class="aa-product-catg-body">
  <ul class="aa-product-catg">
    <form class="" action="" method="post">
            {{ render_field(form.search, class="form-control") }}
    </form>
  {% if inventory_list %}
    {% for product in inventory_list %}
    <!-- start single product item -->
    <li>
      <figure>
        <a class="aa-product-img" href={{url_for("inventory.update_product", id=product.get_upc())}}><img src={{url_for("inventory.image", id=product.get_upc())}} alt={{product.get_upc()}}></a>
        <a class="aa-add-card-btn"href={{url_for("inventory.update_product", id=product.get_upc())}}><span class="fa fa-shopping-cart"></span>Add To Cart</a>
        <figcaption>
          <h4 class="aa-product-title"><a href={{url_for("inventory.update_product", id=product.get_category())}}>{{product.get_name()}}</a></h4>
          <span class="aa-product-price">{{"$%.2f"|format(product.get_price())}}</span>
          {% if product.get_oldprice() %}
          <span class="aa-product-price"><del>{{"$%.2f"|format(product.get_oldprice())}}</del></span>
          {% endif %}
          <p class="aa-product-descrip">Hello{# product.get_description() #}</p>
        </figcaption>
      </figure>
      <div class="aa-product-hvr-content">
        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
      </div>
      <!-- product badges -->
      {% if product.get_oldprice() is not none and not product.get_stock() == '0' %}
      <span class="aa-badge aa-sale" href="#">SALE!</span>
      {% endif %}

      {% if product.get_badge() == 'soldout' %}
      <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
      {% endif %}

      {% if product.get_badge() == 'hot' and not product.get_badge() == 'soldout' and not product.get_oldprice()  %}
        <span class="aa-badge aa-hot" href="#">HOT!</span>
      {% endif %}
    </li>
    {% endfor %}
  {% endif %}
    </div>
</div>
{% endblock %}
