<!-- Start slider -->
<section id="aa-slider">
<div class="aa-slider-area">
  <div id="sequence" class="seq">
    <div class="seq-screen">
      <ul class="seq-canvas">
        {% set slider_list = ({
            "slider1": {
            "savings": "Save up to 75%",
            "title": "Mens Collection",
            "productLink": "/account",
            "description": "Lorem ipsum dolor sit amet"
            "image": "img/slider/1.jpg",
            "alt-text": "text"
            },
            "slider2": {
            "savings": "Save up to 95%",
            "title": "Ladies Collection",
            "description": "Lorem ipsum dolor sit amet"
            "image": "img/slider/2.jpg",
            "productLink": "/accounts",
            "alt-text": "text"
            }
        }) %}
        {% for i in slider_list.values() %}
            <!-- single slide item -->
            <li>
            <div class="seq-model">
                <img data-seq src="{{url_for('static', filename=i["image"] )}}"" alt={{i["text"]}} />
            </div>
            <div class="seq-title">
                <span data-seq>{{i["savings"]}}</span>
                <h2 data-seq>{{i["title"]}}</h2>
                <p data-seq>i["description"]}</p>
                <a data-seq href={{i["productLink"]}} class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
            </div>
            </li>
        {% endfor %}
    <!-- slider navigation btn -->
    <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
      <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
      <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
    </fieldset>
  </div>
</div>
</section>
<!-- / slider -->
