{% extends "base.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
   <div class="container">
    <div class="aa-catg-head-banner-content">
      <h2>Account Page</h2>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Account</li>
      </ol>
    </div>
   </div>
 </div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="aa-myaccount">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
      <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
              <h4>Login</h4>
               <form action={{url_for("account.login")}} method="POST" class="aa-login-form">
                  <div class="form-group">
                    {{ render_field(form.email, class="form-control") }}
                  </div>
                  <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                  </div>
                  {% if error %}
                  <p class=".text-danger">
                      Invalid Password / Username
                  </p>
                  {% endif %}
                  <input type="submit" class="aa-browse-btn" value="Login" name="login">
                  <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
                  <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="aa-myaccount-register">
               <h4>Register</h4>
               <form action={{url_for('account.create')}} method="POST" class="aa-login-form">
                  <div class="form-group">
                    {{ render_field(form.email, class="form-control") }}
                  </div>
                  <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                  </div>
                  {% if registererror %}
                  <p class=".text-danger">
                      User already registered.
                  </p>
                  {% endif %}
                  <input type="submit" class="aa-browse-btn" value="Register" name="register">
                </form>
              </div>
            </div>
          </div>
       </div>
     </div>
   </div>
 </div>
</section>
<!-- / Cart view section -->
{% endblock %}
