{% extends "base.html" %}
{% block content %}
<!-- 404 error section -->
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Item code</th>
        <th>Item name</th>
        <th>Item amount</th>

        <th>Item price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>321321</th>
        <th>Apples</th>
        <th>1</th>
        <th>$3.90</th>
        <th><a href="/checkout" class="aa-cart-view-btn">+</a></th>
      </tr>


<!-- / 404 error section -->
{% endblock %}


