{% extends "base.html" %}
{% block title %}Forum - comments{% endblock %}

{% block content %}
<div class="aa-blog-comment-threat">
    <h3>Comments (4)</h3>
    <div class="comments">
        <div class="media-body">
            <h4 class="author-name">Charlie Balley</h4>
            <span class="comments-date"> March 26th 2016</span>
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
            <a href="#" class="reply-btn">Reply</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}